altgraph
asttokens
backcall
blinker
Brotli
cffi
click
colorama
comm
contourpy
cryptography
cssselect2
cycler
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
debugpy
decorator
et-xmlfile
executing
Flask
Flask-Cors
Flask-MySQLdb
Flask-SQLAlchemy
Flask-WTF
flask_weasyprint
fonttools
gobject
greenlet
html5lib
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mysql-connector-python
mysqlclient
nest-asyncio
numpy
openpyxl
packaging
pandas
parso
pdfkit
pefile
pickleshare
Pillow
platformdirs
plotly
prompt-toolkit
protobuf
psutil
pure-eval
pycparser
pydyf
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyMySQL
pyparsing
pyphen
pypng
python-dateutil
pytz

pyzmq
six
SQLAlchemy
stack-data
tenacity
threadpoolctl
tinycss2
tornado
traitlets
typing_extensions
tzdata
wcwidth
weasyprint
webencodings
Werkzeug
wkhtmltopdf
WTForms
xlrd
zopfli
