


input[type="text"],
input[type="password"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 3px;
    font-weight: bold;
}


input[type="submit"] {
    padding: 8px 8px 8px 8px;
    font: 1.5em sans-serif;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #02a080;
    text-align: center;
    width: 100%;
    grid-column: 1/3;
    margin: 5px;


}
.big-button {
    font-size: 3em !important ;
    
}



.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
    color: #02a080;
  }
  


/* No scrollbars */

input[type="number"] {
    font-size: 16px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }
  
  input[type="number"]:focus {
    outline: none;
  }

  input[type="submit"].update-button,a.button{
    padding: 8px 16px;
    width: 5%;
    height: 5%;
    position: fixed;
    bottom: 20px;
      bottom: 60px;
      margin-left: 6%;
      right: 6%;
    }
