.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
    color: #02a080;
  }
  
  span.question-mark {
    font-size: 12px ; 
    line-height: 16px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #ddd;
    color: white;
    text-align: center;
    display: inline-block;
}         
 
