<div class="main-header">         
    <header id="mainHeader">
    <div>
        <h1>El fateh Company</h1>
        <h5>Since 1990</h5>

    </div>
</header>

<nav id="mainnav">
        <ul>
            <li ><a href="/Elfateh/main/Inventory/">المخازن</a></li>
            <li ><a href="/Elfateh/main">رفع الملفات</a></li>
            <li ><a href="/authorization">تسجيل الدخزل</a></li>

        </ul>
</nav>

<nav id="submainNavcards">
        <ul>
            <li><a href="/Elfateh/main/reports/cashflow/display_goodstransectionte">التدفقات النقدية</a></li>
            <li><a href="/Elfateh/main/reports/clinets_statistics">احصائيات العميل</a></li>
            <li><a href="/Elfateh/main/reports/genral_statistics">احصائيات الشهر</a></li>

        </ul>
</nav>
</div>
<script src="{{ url_for('static', filename='js/header.js') }}"></script>
