<!DOCTYPE html>
<html>
<head>
    <title>Flask App</title>
</head>
<body>
    <h1>Flask App</h1>

    <!-- File upload form -->
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    <form action="/process" method="post">
        <input type="submit" value="Process">

    <!-- Table displaying data from the goodstransectionte table -->
    <table>
        <tr>
            <th>InvoiceID</th>
            <th>Total_invoice</th>
            <th>tr_dt</th>
            <th>Acc_Nm</th>
            <th>dueDate</th>
            <th>realDate</th>
            <th>Paid</th>
        </tr>
        {% for row in data %}
            <tr>
                {% for value in row %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>
