

<!DOCTYPE html>
<html lang="{{ get_locale() }}">
  <head>
    <title>File Upload Form</title>
        <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    

  </head >
  <body class="main-header" style="background-color: white;">
    <header >
      <div >
          <h1>{{ _('اسم الشركة') }}</h1>
          <h5>{{ _('منذ 1990') }}</h5>
  
      </div>
  </header>
  

  <table class="small" >
    <tr>
    </tr>
    <tr>
      <td >Report Date: {{ report_date }}</td>
      <td> Report Author: {{ report_author }}</td>
    </tr>
    <tr>
      <td>Report Number: {{ report_number }}</td>
      <td>Report Type: {{ report_type }}</td>
    </tr>
  </table>
  
  
  <nav id="mainnav">
    <ul>

    </ul>
</nav>

<nav id="submainNavcards">
    <ul>

    </ul>
</nav>

  <h1 style="  text-align: center; margin-top: 10px; margin-bottom: 10px;  " >{{ _('التدفقات النقدية') }}</h1>
  
 <table class="small ">
 <tr>
 {% for col_name in column_names %}
 <th>{{ col_name }}</th>
 {% endfor %}
 </tr>
 {% for row in data.itertuples() %}
 <tr>
 {% for value in row[1:] %}
 <td>{{ value }}</td>
 {% endfor %}
 </tr>
 {% endfor %}
 </table>

 </body>
</html>