body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    background-color: #fffef5;
  }
  .container {
    width: 95%;
    margin: auto;
    overflow: hidden;
    padding-left: 0.5%;
  }
  .clearFix {
    clear: both;
  }
  #mainHeader {
    background: white;
    color: #02a080;
    font-weight: bolder;
    font-style: italic;    
}
  #mainHeader h1 ,#mainHeader h5{
    margin: 0;
    padding: 0PX;
    padding-top: 0.3%;}


  #mainNav,#submainNav {
    background: #00A886;
    color: #83764F;
    position: relative;
    overflow: auto;
    max-height: 1%;

  }


  #mainNav ul,#submainNav ul {
    padding: 0px;
    margin: 0%;
    list-style: none;
  }
  #mainNav li,#submainNav li {
    text-align: center;
    padding: 0.1%;
    font-size: 17px;
    padding-left: 2%;
    padding-right: 2%;
    float: right;
    border-radius: 5px 5px 0px 0px;
    
  }

  #mainNav a,#submainNav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
  }
  #mainNav li:hover,#submainNav li:hover {
    background: #aaa;
  }
  #mainNav li.active {
    background: #00C4FF;
  }

  #submainNav  {
    background-color: #00C4FF;
}




  #mainFooter {
    background: #00A886;
    color: #000000;
    text-align: center;
    padding: 0.1%;
    margin-top: 50px;
  }
  @media (max-width:600px){
    #main, #sidebar {
      width: 100%;
      float: none;
      border: none;
    }
  }

