<html lang="{{ get_locale() }}">

<div class="main-header">         
    <nav id="submainNavcards">
            <ul>
                <li><a href="/comapny_name/main/reports/clinets_statistics">{{ _('احصائيات العميل') }}</a></li>
                <li><a href="/comapny_name/main/reports/genral_statistics">{{ _('احصائيات الشهر') }}</a></li>
                <li><a href="/comapny_name/main/reports/cashflow/display_goodstransectionte">{{ _('التدفقات النقدية') }}</a></li>
    
            </ul>
    </nav>
</div>
</html>
