<html lang="{{ get_locale() }}">

<nav id="submainNavcards" style="background-color: rgb(250, 246, 246);">
  <ul style="text-align: center;">
      <li style="background-color: #06925a48;" id="print-link"><a href="/Elfateh/main/print/cashflow">{{ _('طباعة التقرير') }}</a></li>
      <li><a href="/Elfateh/main/reports/cashflow/display_goodstransectionte_summary">{{ _('التقرير') }}</a></li>
      <li><a href="/Elfateh/main/reports/cashflow/display_goodstransectionte">{{ _('مجمع بالاستحقاق') }}</a></li>
      <li><a href="/Elfateh/main/reports/cashflow/display_all_goodstransectionte">{{ _('فردي') }}</a></li>
      <li><a href="/Elfateh/main/reports/cashflow/display_cashflowgroup__comapnyname">{{ _('مجمع ياسم الشركة') }}</a></li>
  </ul>
</nav>
</html>
